{% load static %}
<!DOCTYPE html>

<!--
    AUTHOR: Jonathan Brown
    Date: 1/23/20
    Course: IFT 458
    Project Deliverable 1

    A project report that includes – 20 points
    Introduction
    Description of your work (what you did and how you did it): include screenshots to illustrate your narrative
    User manual: Provide a detailed description of how a non-technical user can take your zip file and get it up and running
    Conclusion: Indicate what you achieved, what was learned, the challenges faced, and how they were overcome, and how can your work be improved
    A zip file of all your source code – 80 points
        Wireframe 1 – 10 points
        Wireframe 2 – 10 points
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    Logo – 5 points
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    Browser Compatibility – 5 points
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    HTML5 features – 15 points
        Use of Javascript for client side validation – 15 points
        Use of CSS & JQuery – 15 points
        Animations – 5 points
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>solarPV Homepage</title>
    <link href="{% static 'solarpv/solarPV-styles.css' %}" type="text/css" rel="stylesheet" >
    <script src="script/project1Script.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'solarpv:main' %}" class="icon">
                <img src="{% static 'solarpv/images/logo.png' %}" />
            </a>
        </div>
        <div class="sideLinks">
            <div class="accountLinks">
                <h2>Account Links:</h2>
                <a href="{% url 'solarpv:register' %}">Register</a>
                <a href="{% url 'solarpv:main' %}">Login</a>
            </div>
            <div class="socialLinks">
                <h2>Social Media Links:</h2>
                <a href="https://www.facebook.com">
                    <img src="{% static 'solarpv/images/facebook.png' %}" alt="Facebook homepage" />
                </a>
                <a href="https://www.twitter.com">
                    <img src="{% static 'solarpv/images/twitter.png' %}" alt="Twitter homepage" />
                </a>
                <a href="https://www.reddit.com">
                    <img src="{% static 'solarpv/images/reddit.png' %}" alt="Reddit homepage" />
                </a>
                <a href="https://www.linkedin.com">
                    <img src="{% static 'solarpv/images/linkedIn.png' %}" alt="LinkedIn homepage" />
                </a>
            </div>
        </div>
    </header>
    <nav>
        <a href="{% url 'solarpv:main' %}">Racks & Trackers</a>
        <div class="dropdown">
            <a class="dropbtn" href="{% url 'solarpv:main' %}">PV Module</a>
            <div class="dropdown-content">
                <a href="{% url 'solarpv:main' %}">PV Module</a>
                <a href="{% url 'solarpv:portal' %}">New PV Module</a>
                <a href="{% url 'solarpv:main' %}">Testing & Certification</a>
                <a href="{% url 'solarpv:main' %}">PV rating</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="{% url 'solarpv:main' %}">PV Systems</a>
            <div class="dropdown-content">
                <a href="{% url 'solarpv:main' %}">PV Systems</a>
                <a href="{% url 'solarpv:main' %}">Monitoring & Inspection</a>
                <a href="{% url 'solarpv:main' %}">Performance Analysis</a>
                <a href="{% url 'solarpv:main' %}">Compare system</a>
                <a href="{% url 'solarpv:main' %}">Certification</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="{% url 'solarpv:main' %}">Data Analytics</a>
            <div class="dropdown-content">
                <a href="{% url 'solarpv:main' %}">Data Analytics</a>
                <a href="{% url 'solarpv:main' %}">Module Lifetime Prediction</a>
                <a href="{% url 'solarpv:main' %}">Energy Prediction</a>
            </div>
        </div>
        <a href="{% url 'solarpv:main' %}">Cybersecurity</a>
    </nav>
    <section class="mainBody">
       <article>
            <h1>Current Article</h1>
       </article> 
       <section class="feature">
            <!-- slide show-->
           <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
           <img class="mySlides" src="{% static 'solarpv/images/security.png' %}" />
           <img class="mySlides" src="{% static 'solarpv/images/earth.png' %}" />
           <img class="mySlides" src="{% static 'solarpv/images/energy.png' %}" />
           <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
       </section>
       <section class="news">
            <h1>Site News:</h1>
       </section>
    </section>
    <footer>
        <a href="{% url 'solarpv:main' %}">Terms & Conditions | </a>
        <a href="{% url 'solarpv:main' %}">Privacy Policy | </a>
        <a href="{% url 'solarpv:main' %}">About Us | </a>
        <a href="{% url 'solarpv:main' %}">Contact Us</a>
        <p>&copy;2020 All Rights Reserved</p>
    </footer>
</body>
</html>