{% load static %}
<!DOCTYPE html>

<!--
    AUTHOR: Jonathan Brown
    Date: 3/24/20
    Course: IFT 458
    Project Deliverable 6

    This is the web portal dashboard page with forms for inputting solarPV's:
    -client
    -location
    -product
    -test standard
    -cetrificate
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>solarPV Homepage</title>
    <link href="{% static 'solarpv/solarPV-styles.css' %}" type="text/css" rel="stylesheet" />
    <script src="script/project1Script.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="solarPV-Home.html" class="icon">
                <img src="images/logo.png" />
            </a>
        </div>
        <div class="sideLinks">
            <div class="accountLinks">
                <h2>Account Links:</h2>
                <a href="solarPV-registration.html">Register</a>
                <a href="solarPV-login.html">Login</a>
            </div>
            <div class="socialLinks">
                <h2>Social Media Links:</h2>
                <a href="https://www.facebook.com">
                    <img src="images/facebook.png" alt="Facebook homepage" />
                </a>
                <a href="https://www.twitter.com">
                    <img src="images/twitter.png" alt="Twitter homepage" />
                </a>
                <a href="https://www.reddit.com">
                    <img src="images/reddit.png" alt="Reddit homepage" />
                </a>
                <a href="https://www.linkedin.com">
                    <img src="images/linkedIn.png" alt="LinkedIn homepage" />
                </a>
            </div>
        </div>
    </header>
    <nav>
        <a href="solarPV-Construction.html">Racks & Trackers</a>
        <div class="dropdown">
            <a class="dropbtn" href="solarPV-Construction.html">PV Module</a>
            <div class="dropdown-content">
                <a href="solarPV-Construction.html">PV Module</a>
                <a href="solarPV-Construction.html">Testing & Certification</a>
                <a href="solarPV-Construction.html">PV rating</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="solarPV-Construction.html">PV Systems</a>
            <div class="dropdown-content">
                <a href="solarPV-Construction.html">PV Systems</a>
                <a href="solarPV-Construction.html">Monitoring & Inspection</a>
                <a href="solarPV-Construction.html">Performance Analysis</a>
                <a href="solarPV-Construction.html">Compare system</a>
                <a href="solarPV-Construction.html">Certification</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="solarPV-Construction.html">Data Analytics</a>
            <div class="dropdown-content">
                <a href="solarPV-Construction.html">Data Analytics</a>
                <a href="solarPV-Construction.html">Module Lifetime Prediction</a>
                <a href="solarPV-Construction.html">Energy Prediction</a>
            </div>
        </div>
        <a href="solarPV-Construction.html">Cybersecurity</a>
    </nav>
    <section class="mainBody">
       <article>
            <h1>Current Article</h1>
       </article> 
       <section class="feature">
            <!-- slide show-->
           <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
           <img class="mySlides" src="images/security.png" />
           <img class="mySlides" src="images/earth.png" />
           <img class="mySlides" src="images/energy.png" />
           <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
       </section>
       <section class="news">
            <h1>Site News:</h1>
       </section>
    </section>
    <footer>
        <a href="solarPV-Terms.html">Terms & Conditions | </a>
        <a href="solarPV-Privacy.html">Privacy Policy | </a>
        <a href="solarPV-AboutUs.html">About Us | </a>
        <a href="solarPV-AboutUs.html">Contact Us</a>
        <p>&copy;2020 All Rights Reserved</p>
    </footer>
</body>
</html>