/*CSS for solarPV html pages
    AUTHOR: Jonathan Brown
    Date: 1/23/2020

    long periods of staring at screen suggest darker colors are better for eye fatigue.
    Hence the darker color palette chosen for this website.
*/

/*overall theme of the html document*/
html {
    background-color: #4b4f58;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #00ffff
}

.mySlides {
    height: 110px;
    width: 110px;
}

.mainBody {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    min-height: 10em;
    background-color: #333;
    margin: 1%;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 75%;
}

.logo img{
    max-height: 150px;
    max-width: 60%;
}

.sideLinks, .logo {
    width: 50%;
    float: left;
    margin-bottom: 1%;
}

.socialLinks img {
    max-height: 8%;
    max-width: 8%;
    float: right;
    padding-right: 13%;
}

.accountLinks a, .aboutNav a{
    text-decoration: none;
    color: #00ffff;
}

article, .feature, .news {
    width: 31.3%;
    float: left;
    margin: 1%;
    height: 10em;
    margin-bottom: 1em;
    background-color: #333;
    min-height: 10em;
}

header, nav, footer {
    padding: 1px;
}

footer{
    display: inline;
}

footer .aboutNav, footer .rightsReserved {
    width: 45%;
    display: inline; 
    float: left;
    padding: 2.25%;
    background-color: #333;
    max-height: 40px;
}


/*https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
    is the website most of this CSS code is from.

    This is the CSS for the navbar
    editted by Jonathan Brown
    1/23/2020
*/

/* Navbar container */
nav, .socialLinks, .accountLinks, .aboutNav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1%;
}

/* Links inside the navbar */
nav a, .accountLinks a, .aboutNave a {
    float: left;
    font-size: 16px;
    color: #00ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #00ffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a [blue] background color to navbar links on hover */
nav a:hover, .dropdown:hover .dropbtn, .accountLinks a:hover, .aboutNav a:hover {
    background-color: blue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #00ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4b4f58;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
